.carousel-indicators li {
  width: 12px;
  height: 10px;
  border-radius: 100%;
  }
  .slide{
 
    animation: slide 2s ease;
  }
  @keyframes slide{
    0%{
      transform:scale(1.1);
    }
    100%{
      transform: scale(1);
    }
  }
  .h5{
    opacity:0;
    animation: captionText .5s ease forwards;
    animation-delay:1s;
  }
  .p{
    opacity:0;
    animation: captionText .5s ease forwards;
    animation-delay:1s;
  }

  @keyframes captionText{
    0%{
      opacity:0; transform: translateX(-100px);
    }
    100%{
     opacity:1; transform: translateX(0px);	
    }
  }


  .h52{
    opacity:0;
    animation: captionText2 .5s ease forwards;
    animation-delay:1s;
  }
  .p2{
    opacity:0;
    animation: captionText2 .5s ease forwards;
    animation-delay:1s;
  }
  @keyframes captionText2{
    0%{
      opacity:0; transform: translateX(100px);
    }
    100%{
     opacity:1; transform: translateX(0px);	
    }
  }